<DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>



<head>
<style>
    th, td{
        text-align: center;
    }
     
    th, td{
        padding: 10px;
    }
</style>
  <hr>
    <FONT FACE="times new roman">  <title> IMAGENOLOGIA </title>
</head>

<body style="background-color:#ECFFFF;">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</body>

<body>
    <div align="center">
    <img src="https://i.ibb.co/Ns5scxd/TITULO.jpg"/>
    </div>

<p>
<div class="container">
<div class="row">

    <h2>Seleccione la imagen que desee procesar
    </h2>
    

    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="Archivo" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        
        

        
        
        <table style="width: 100%;">
        
        <tr>
        <td>         
                   
                   
                   <p>
                       {% with messages = get_flashed_messages() %}
                         {% if messages %}
                           <ul>
                           <h2>Original
                           </h2>
                           {% for message in messages %}
                             <li>{{ message }}</li>
                           {% endfor %}
                           </ul>
                         {% endif %}
                       {% endwith %}
                  
                   {% if filename %}
                       <div>
                       <h2>Imagen Original
                       </h2>
                           <img src="{{ url_for('display_image2', filenameo=filenameo) }}"  width="400px">
                           
                      
                   {% endif %}
                    </p>
                    
               </div> </td>
         <td>         
                
                    
                    <p>
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <ul>
                            <h2>Imagen Procesada
                            </h2>
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                   
                    {% if filename %}
                        <div>
                        <h2>Imagen Procesada
                        </h2>
                            <img src="{{ url_for('display_image1', filename=filename) }}"  width="400px">
                          
                       
                    {% endif %}
                     </p>
                     
                </div> </td>
        
        </tr>

        <tr>
        <td> </td>
         <td> </td>
         
        
        </table>
        
        

        
        
        
        <table style="width: 100%;">
          <tr>
          <td> <h3> ECUALIZACION DE HISTOGRAMA  </h3> </td>
          <td> <h3> UNSHARP </h3> </td>
          <td> <h3> MEJORA DE CONTRASTE PROPUESTO  </h3> </td>
          </tr>
          <tr>
          <td> <input type="submit" value="HE" name="v1" class="btn btn-info"></td>
          <td> <input type="submit" value="Unsharp" name="v4" class="btn btn-info"></td>
          <td> <input type="submit" value="M" name="v5" class="btn btn-info"></td>
          <td> <input type="submit" value="Gamma" name="v6" class="btn btn-info"></td>
          </tr>
  
          <tr>
          <td> </td>
           <td> </td>
          </tr>
          
          </table>
          
    </form>
 
 
<hr width=50%>
</body>
</html>